*{
    font-family: 'Poppins',sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    background-color: #222;

    
}
.card{
    width: 90%;
    max-width: 500px;
    /* background:linear-gradient(135deg,#00feba,#fb548a); */
    /* background: linear-gradient(135deg, #f9d423, #ff4e50); */
    /* background: linear-gradient(135deg, #89f7fe, #66a6ff); */
    background: linear-gradient(135deg, #fceabb, #f8b500);

box-shadow: 0 4px 20px rgba(255, 200, 100, 0.4);


color: #fff;
margin: 100px auto 0;
border-radius: 20px;
padding: 40px 35px;
text-align: center;
}
.search{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 60px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
}
.search button{
     border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
font-size: 80px;
font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    margin-right: 10px;
    width:40px ;
}
.weather{
    display: none;
}
.err{
 text-align: left;
 margin-left: 10px;
 font-size: 14px;
 margin-top: 10px;
 display: none;

}
